:root {
    --purptextshdw: #ff00f2cb;
    --black: #000000cb;
    --navbkgd:#dfdfdf1e;

}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    
    }
    
body {
    background-image: url("../images/header-background.jpg");
    background-size: cover;

    }
    
.header {
    background-image: url("../images/header-background.jpg");
    background-size: cover;
    background-position: center;
   /*  position:sticky; */
    top:0;
    /* text-shadow: 0 0 5px #ff00f2cb;  */
    color: #000000cb;
    border-style:solid;
    border-width:5px;
    border-color: #000000cb;
    border-radius: 10px;
    padding: 20px;
    /* width: auto; */
    z-index: 3;
   

}

.header h1 {
    font-size: 50px;
    text-shadow: 0 0 5px var(--purptextshdw)
    

}

nav {
    padding-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    position:relative;
   /*  margin:auto; */

}

nav ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;

}

.navli {
    border-style:solid;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color: var(--navbkgd);
    text-shadow: 0 0 5px var(--purptextshdw); 
    padding: 10px;
    margin: 10px;
    
}

/* article div {
    position: relative;
} */

.navleft {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    border-style: solid;
    border-right-style: dashed;
    border-color: var(--black);
    border-radius: 10px;
    width: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 100px;
}

.navleftul {
    position:relative;
    left: 100%;
    
}

.largeimgli {
    
    justify-content: center;
   /*  flex-direction:row; */
    text-align:center;
    border-style:solid;
    border-left-style: dashed;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color: var(--navbkgd);
    /* text-shadow: 0 0 5px var(--purptextshdw);  */
    padding: 10px;
    /* check width Sunday */
    width: 400%;

}

h3 a {
    flex-basis: auto;
}

.columnwork {
    display:inline-flex;
    /* On sunday explore width. The problem is somewhere in this,
    the above, and the below class */
    width: 411%;
    flex-direction: row;
    flex: 1 0 auto;
}

.smallimgli {
    /* margin:10px; */
    /* display: inline-flex; */
    justify-content: center;
   /*  flex-direction:row;
    flex-wrap:wrap; */
    text-align:center;
    border-style:solid;
    border-left-style: dashed;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color: var(--navbkgd);
    padding: 10px;
    /* box-sizing: border-box; */
    /* width: 50%;  */

}

a {
    color:var(--black);
    text-decoration: none;
    

}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    background-color: var(--navbkgd);
    text-shadow: 0 0 10px var(--purptextshdw);
    text-align: center;
    padding: 10px;
    
}

h3 {
    background-color: var(--navbkgd);
    text-shadow: 0 0 10px var(--purptextshdw);
    text-align: center;
    padding: 10px;
    
}

ul {
    list-style-type: none;
}

/* li {
    border-style: solid;
    border-right-style: dashed;
    border-color: var(--black);
    color: var(--black);

} */

@media screen and (max-width: 992px) {
    body {
    flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    body {
    flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    body {
    flex-direction: column;
    }
}

footer {
    text-align: center;
}