:root {
    --purptextshdw: #ff00f2cb;
    --black: #000000cb;
    --navbkgd:#dfdfdf1e;

}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    
}

a {
    color:var(--black);
    text-decoration: none;
    
}
    
body {
    background-image: url("../images/header-background.jpg");
    background-size: cover;

    }

.columnwork {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
   /*  flex: 0 1 100%; */
    text-align: center;

}

.contentabout {
    position:relative;
    left: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    box-sizing:border-box;
    border-style:solid;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color:#ffffff80;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 500%;

}

.contentcontact {
    position:relative;
    left: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align:center;
    box-sizing:border-box;
    border-style:solid;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color:#ffffff80;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    width: 500%;
}

.contentcontact p {
    padding: 0px 10px 0px 10px;
}

.contentproj {
    position:relative;
    left: 100%;
    
}

/* .footer {
    display: flex;
    align-self: center;
    justify-content: center;

}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    border-style:solid;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color:#ffffff80;
    text-shadow: 0 0 5px var(--purptextshdw); 
    padding: 10px;
    margin: 10px;
    width: 10%;
} */

h1 {
    border-style:solid;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color:#ffffff80;
    text-align: center;
    text-shadow: 0 0 5px var(--purptextshdw); 
    padding: 10px;
    margin: 10px;
}

h2 {
    display:flex;
    justify-content: center;
    background-color:#ffffff80;
    border-radius: 10px;
    border-width: 2px;
    border:black;
    text-shadow: 0 0 10px var(--purptextshdw);
    text-align: center;
    padding: 10px;
    
}

h3 {
    background-color: var(--navbkgd);
    text-shadow: 0 0 10px var(--purptextshdw);
    text-align: center;
    padding: 10px;

}

/* h3 a {
    flex-basis: auto;
} */

.header {
    background-image: url("../images/header-background.jpg");
    background-size: cover;
    background-position: center;
    /* position: sticky; */
    top:0;
    color: #000000cb;
    border-style:solid;
    border-width:5px;
    border-color: #000000cb;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
}

.header h1 {
    font-size: 50px;
    text-shadow: 0 0 5px var(--purptextshdw)
    

}

img {
    max-width: 100%;
    height: auto;
}

.largeimgli {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    box-sizing:border-box;
    border-style:solid;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color:#ffffff80;
    padding: 10px;
    width: 500%;

}

.largeimgli li {
    border-style:solid;
    box-sizing: border-box;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color: var(--navbkgd);

}

.largeimgli img {
    box-sizing: border-box;
    border-radius: 10px;
    border-style:solid;
    border-left-style: none;
    border-right-style: none;
    border-width: 2px;
    border-color: var(--black);
    
}

.largeimgli h3 {
    border: black;
    
}

nav {
    padding-top: 10px;
    margin-right: 20px;
    font-size: 20px;

}
.navleft {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    border-style: solid;
    border-color: var(--black);
    border-radius: 10px;
    width: 15%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.navli {
    border-style:solid;
    border-width: 2px;
    border-color: var(--black);
    border-radius: 10px;
    background-color:#ffffff80;
    text-shadow: 0 0 5px var(--purptextshdw); 
    padding: 10px;
    margin: 10px;
    
}

.navli:hover {
    background-color: transparent;
}

.selfimg {
    border: black;
    border-style:solid;
    border-width: 2px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;

}

.smallimgli {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

ul {
    list-style-type: none;
}

@media screen and (max-width: 992px) {
    body {
    flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    body {
    flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    body {
    flex-direction: column;
    }
}